// Overlay
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 200px 0px 165px 144px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: inset 200px 0px 165px 144px rgba(0, 0, 0, 0.43);
  box-shadow: inset 200px 0px 165px 144px rgba(0, 0, 0, 0.43);
  z-index: 1;
}

//scrollbar hiddens
main::-webkit-scrollbar,
.scrollable-sidebar::-webkit-scrollbar {
  display: none;
}
