// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// Toggle button styles
.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
}

// Darkmodee btn
.darkmode-btn {
  z-index: 500;
}

//buttons

.btn {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  &:focus {
    outline: none;
  }
  transition: all 0.2s ease;
}

.primary__btn {
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  background-color: #000;
  color: #fff;
  @extend .btn;
}

.secondary__btn {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #000;
  @extend .btn;
}

.danger__btn {
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  background-color: $danger;
  color: #fff;
  @extend .btn;
}

//  <button type="submit" name="save-banner" class="secondary__btn border border-black">Edit</button>
